div.modal.fade#adddevice(tabindex="-1", role="dialog", aria-labelledby="adddeviceLabel")
  div.modal-dialog(role="document")
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title" id="adddeviceLabel") 添加设备
      .modal-body
      | 这里将添加控件
      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
        button(type="button" class="btn btn-primary") 保存