doctype html
html(lang='en')
  head
    title &#x667A;&#x80FD;&#x5BB6;&#x5EAD;&#x63A7;&#x5236;&#x5E73;&#x53F0;
    | &#x9;
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    // VENDOR CSS
    link(rel='stylesheet', href='assets/vendor/bootstrap/css/bootstrap.min.css')
    | &#x9;
    link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
    | &#x9;
    link(rel='stylesheet', href='assets/vendor/linearicons/style.css')
    | &#x9;
    link(rel='stylesheet', href='assets/vendor/toastr/toastr.min.css')
    // MAIN CSS
    link(rel='stylesheet', href='assets/css/main.css')
    // FOR DEMO PURPOSES ONLY. You should remove this in your project
    link(rel='stylesheet', href='assets/css/demo.css')
    // GOOGLE FONTS
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
    // ICONS
    link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
    | &#x9;
    link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicon.png')
  body
    // WRAPPER
    #wrapper
      // NAVBAR
      nav.navbar.navbar-default.navbar-fixed-top
        .brand
          a(href='index.html')
            img.img-responsive.logo(src='assets/img/logo-dark.png', alt='Klorofil Logo')
        | &#x9;&#x9;&#x9;
        .container-fluid
          .navbar-btn
            button.btn-toggle-fullwidth(type='button')
              i.lnr.lnr-arrow-left-circle
          | &#x9;&#x9;&#x9;&#x9;
          form.navbar-form.navbar-left
            .input-group
              input.form-control(type='text', value='', placeholder='Search dashboard...')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              span.input-group-btn
                button.btn.btn-primary(type='button') Go
          | &#x9;&#x9;&#x9;&#x9;
          .navbar-btn.navbar-btn-right
            a.btn.btn-success.update-pro(href='#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro', title='Upgrade to Pro', target='_blank')
              i.fa.fa-rocket
              |  
              span &#x5347;&#x7EA7;&#x5230;&#x4E13;&#x4E1A;&#x7248;
          | &#x9;&#x9;&#x9;&#x9;
          #navbar-menu
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle.icon-menu(href='#', data-toggle='dropdown')
                  i.lnr.lnr-alarm
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  span.badge.bg-danger 5
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.dropdown-menu.notifications
                  li
                    a.notification-item(href='#')
                      span.dot.bg-warning
                      | System space is almost full
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.notification-item(href='#')
                      span.dot.bg-danger
                      | You have 9 unfinished tasks
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.notification-item(href='#')
                      span.dot.bg-success
                      | Monthly report is available
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.notification-item(href='#')
                      span.dot.bg-warning
                      | Weekly meeting in 1 hour
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.notification-item(href='#')
                      span.dot.bg-success
                      | Your request has been approved
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a.more(href='#') See all notifications
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.lnr.lnr-question-circle
                  |  
                  span Help
                  |  
                  i.icon-submenu.lnr.lnr-chevron-down
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.dropdown-menu
                  li
                    a(href='#') Basic Use
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Working With Data
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Security
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#') Troubleshooting
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.img-circle(src='assets/img/user.png', alt='Avatar')
                  |  
                  span &#x7528;&#x6237;1
                  |  
                  i.icon-submenu.lnr.lnr-chevron-down
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul.dropdown-menu
                  li
                    a(href='#')
                      i.lnr.lnr-user
                      |  
                      span &#x4E2A;&#x4EBA;&#x8BBE;&#x7F6E;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.lnr.lnr-envelope
                      |  
                      span &#x4FE1;&#x606F;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.lnr.lnr-cog
                      |  
                      span &#x8BBE;&#x7F6E;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.lnr.lnr-exit
                      |  
                      span &#x9000;&#x51FA;
              //
                <li>
                <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>升级到专业版</span></a>
                </li>
      // END NAVBAR
      // LEFT SIDEBAR
      #sidebar-nav.sidebar
        .sidebar-scroll
          nav
            ul.nav
              li
                a(href='index.html')
                  i.lnr.lnr-home
                  |  
                  span &#x6982;&#x89C8;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='charts.html')
                  i.lnr.lnr-chart-bars
                  |  
                  span &#x4F20;&#x611F;&#x5668;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='panels.html')
                  i.lnr.lnr-cog
                  |  
                  span &#x63A7;&#x5236;&#x5668;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.active(href='notifications.html')
                  i.lnr.lnr-alarm
                  |  
                  span &#x8BBE;&#x5907;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.collapsed(href='#subPages', data-toggle='collapse')
                  i.lnr.lnr-file-empty
                  |  
                  span Pages
                  |  
                  i.icon-submenu.lnr.lnr-chevron-left
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                #subPages.collapse
                  ul.nav
                    li
                      a(href='page-profile.html') Profile
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='page-login.html') Login
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='page-lockscreen.html') Lockscreen
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='tables.html')
                  i.lnr.lnr-dice
                  |  
                  span Tables
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='typography.html')
                  i.lnr.lnr-text-format
                  |  
                  span Typography
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='icons.html')
                  i.lnr.lnr-linearicons
                  |  
                  span Icons
      // END LEFT SIDEBAR
      // MAIN
      .main
        // MAIN CONTENT
        .main-content
          .container-fluid
            h3.page-title &#x8BBE;&#x5907;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .panel.panel-headline.demo-icons
              .panel-heading
                h3.panel-title &#x4F20;&#x611F;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.subtitle
                  | For complete list, please visit 
                  a(href='https://linearicons.com/free', target='_blank') https://linearicons.com/free
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .panel-body
                ul.list-unstyled.row
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-home
                    |  
                    span.cssclass &#x4E3B;&#x673A;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-thumbs-up
                    |  
                    span.cssclass &#x6E29;&#x6E7F;&#x5EA6;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-pencil
                    |  
                    span.cssclass &#x65B0;&#x98CE;&#x7CFB;&#x7EDF;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-magic-wand
                    |  
                    span.cssclass &#x6444;&#x50CF;&#x5934;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-drop
                    |  
                    span.cssclass &#x5929;&#x7136;&#x6C14;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-lighter
                    |  
                    span.cssclass &#x7A7A;&#x6C14;&#x8D28;&#x91CF;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-sun
                    |  
                    span.cssclass &#x8FDC;&#x7A0B;&#x5F00;&#x5173;
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-heart
                    |  
                    span.cssclass lnr lnr-heart
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-inbox
                    |  
                    span.cssclass lnr lnr-inbox
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-trash
                    |  
                    span.cssclass lnr lnr-trash
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-cart
                    |  
                    span.cssclass lnr lnr-cart
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-user
                    |  
                    span.cssclass lnr lnr-user
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-bookmark
                    |  
                    span.cssclass lnr lnr-bookmark
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-map
                    |  
                    span.cssclass lnr lnr-map
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-map-marker
                    |  
                    span.cssclass lnr lnr-map-marker
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-location
                    |  
                    span.cssclass lnr lnr-location
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-rocket
                    |  
                    span.cssclass lnr lnr-rocket
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li.col-md-2.col-sm-4.col-xs-6
                    span.lnr.lnr-download
                    |  
                    span.cssclass lnr lnr-download
        // END MAIN CONTENT
      // END MAIN
      .clearfix
      | &#x9;&#x9;
      footer
        .container-fluid
          p.copyright
            | &copy; 2017 
            a(href='#', target='_blank') Theme I Need
            | . All Rights Reserved. More Templates
    // END WRAPPER
    // Javascript
    script(src='assets/vendor/jquery/jquery.min.js')
    | &#x9;
    script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
    | &#x9;
    script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
    | &#x9;
    script(src='assets/vendor/toastr/toastr.min.js')
    | &#x9;
    script(src='assets/scripts/klorofil-common.js')
