extends ../layout

block content
  .main-content
    .container-fluid
      h3.page-title 设备类别
      button.btn.btn-primary(type="button", data-toggle="modal", data-target="#adddevicetype") 添加类别
      .panel.panel-headline.demo-icons
        .panel-heading
          h3.panel-title 已有类别
          p.subtitle
            | For complete list, please visit 
            a(href='https://linearicons.com/free', target='_blank') https://linearicons.com/free
        .panel-body
          ul.list-unstyled.row
            each item in types
              li.col-md-2.col-sm-4.col-xs-6
                span.lnr(class=item.icon)
                span.cssclass #{item.name}
                span.cssclass #{item.devkey}
  include ../includes/modal_adddevicetype