extends ../layout

block content
  .main-content
    .container-fluid
      h3.page-title 设备
      .panel.panel-headline.demo-icons
        .panel-heading
          h3.panel-title 传感
          p.subtitle
            | For complete list, please visit 
            a(href='https://linearicons.com/free', target='_blank') https://linearicons.com/free
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        .panel-body
          ul.list-unstyled.row
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-home
              span.cssclass 主机
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-drop
              span.cssclass 温湿度
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-cloud
              span.cssclass 新风系统
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-camera-video
              span.cssclass 摄像头
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-lighter
              span.cssclass 天然气
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-leaf
              span.cssclass 空气质量
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-sun
              span.cssclass 远程开关
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-heart
              span.cssclass lnr lnr-heart
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-inbox
              span.cssclass lnr lnr-inbox
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-trash
              span.cssclass lnr lnr-trash
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-cart
              span.cssclass lnr lnr-cart
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-user
              span.cssclass lnr lnr-user
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-bookmark
              span.cssclass lnr lnr-bookmark
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-map
              span.cssclass lnr lnr-map
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-map-marker
              span.cssclass lnr lnr-map-marker
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-location
              span.cssclass lnr lnr-location
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-rocket
              span.cssclass lnr lnr-rocket
            li.col-md-2.col-sm-4.col-xs-6
              span.lnr.lnr-download
              span.cssclass lnr lnr-download