extends ../layout

block content
  .main-content
    .container-fluid
      h3.page-title 设备
      button.btn.btn-primary(type="button", data-toggle="modal", data-target="#adddevice") 添加设备
      .panel.panel-headline.demo-icons
        .panel-heading
          h3.panel-title 传感
          p.subtitle
            | For complete list, please visit 
            a(href='https://linearicons.com/free', target='_blank') https://linearicons.com/free
        .panel-body
          ul.list-unstyled.row
            each device in devices
              li.col-md-2.col-sm-4.col-xs-6
                span.lnr(class=device.devicetype.icon)
                br
                span 设备ID：
                span #{device.devid}
                br
                span 类型：
                span #{device.devicetype.name}
                br
                span 备注：
                span #{device.name}
  include ../includes/modal_adddevice